.App {
  text-align: center;
  background-color: rgba(20, 12, 2, 0.63);
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
.card {
  background-color: rgba(248, 248, 248, 0.288);
  border: solid 1px;
  border-radius: 30px;
  padding: 20px;
  width: 200px;
  height: 300px;
}
